In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(4,5), 
                  columns=['c1', 'c4', 'c3', 'c2', 'c0'], 
                  index=['r1', 'r0', 'r3', 'r2'])
df

          c1        c4        c3        c2        c0
r1 -0.003828 -0.307900 -1.387505 -0.357378  0.965676
r0  0.926230  1.053092 -0.857226 -0.801986  1.540999
r3 -0.984535  1.132439 -0.627636  3.750739  1.792814
r2  1.626740 -0.795119 -0.495438 -0.404757 -1.217184

In [3]:
df.idxmin(axis=0)

c1    r3
c4    r2
c3    r1
c2    r0
c0    r2
dtype: object

In [4]:
df.idxmin(axis=1)

r1    c3
r0    c3
r3    c1
r2    c0
dtype: object