In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(4,5), 
                  columns=['c1', 'c4', 'c3', 'c2', 'c0'], 
                  index=['r1', 'r0', 'r3', 'r2'])
df

          c1        c4        c3        c2        c0
r1  0.429723  0.978552  1.035309 -0.031912 -1.016115
r0 -0.293466 -0.508338  0.498527 -0.286576  1.114982
r3  0.337365 -0.408174 -0.071514 -0.243149 -0.355249
r2 -1.702691 -0.266863  0.254676  0.508022  0.641173

In [3]:
df.idxmin(axis=0)

c1    r2
c4    r0
c3    r3
c2    r0
c0    r1
dtype: object

In [4]:
df.idxmin(axis=1)

r1    c0
r0    c4
r3    c4
r2    c1
dtype: object

In [5]:
df_idxmin = df.idxmin(axis=0).to_frame()
df_idxmin

     0
c1  r2
c4  r0
c3  r3
c2  r0
c0  r1

In [6]:
df_min = df.min(axis=0).to_frame()
df_min

           0
c1 -1.702691
c4 -0.508338
c3 -0.071514
c2 -0.286576
c0 -1.016115

In [7]:
df_idxmin_min = pd.merge(df_idxmin, df_min, left_index=True, right_index=True)
df_idxmin_min.columns = ['idxmin', 'min']
df_idxmin_min

   idxmin       min
c1     r2 -1.702691
c4     r0 -0.508338
c3     r3 -0.071514
c2     r0 -0.286576
c0     r1 -1.016115