In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(4,5), 
                  columns=['c1', 'c4', 'c3', 'c2', 'c0'], 
                  index=['r1', 'r0', 'r3', 'r2'])
df

          c1        c4        c3        c2        c0
r1  2.186758  1.172160  0.322952  1.195425 -0.436296
r0 -0.575307  0.368532 -0.243241 -0.312282  0.572056
r3 -0.994342 -0.928687  2.376126  0.502041 -0.141714
r2  1.626360  1.090684  0.371674 -0.309019  1.637513

In [3]:
# Convert the DataFrame to a NumPy array
print(type(df.to_numpy()))
df.to_numpy()

<class 'numpy.ndarray'>

array([[ 2.18675809,  1.17215967,  0.32295152,  1.19542536, -0.43629591],
       [-0.57530671,  0.3685323 , -0.24324131, -0.31228194,  0.57205553],
       [-0.99434186, -0.9286871 ,  2.37612627,  0.50204098, -0.14171398],
       [ 1.62635999,  1.09068444,  0.37167383, -0.30901892,  1.63751348]])