In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(4,5), 
                  columns=['c1', 'c4', 'c3', 'c2', 'c0'], 
                  index=['r1', 'r0', 'r3', 'r2'])
df

          c1        c4        c3        c2        c0
r1  0.544085  0.491450  1.536075 -0.790926  0.740325
r0  0.877858 -1.811993 -0.751808  0.610519 -1.278438
r3 -1.941921 -0.901987 -0.857385 -0.204128  0.735327
r2 -0.652994 -0.134319 -0.800271  0.765334 -0.231327

In [3]:
# Return the sum of the values for the requested axis.
print(type(df.sum()))
df.sum()

<class 'pandas.core.series.Series'>

c1   -1.172972
c4   -2.356850
c3   -0.873389
c2    0.380799
c0   -0.034114
dtype: float64

In [4]:
print(type(df.sum(axis=1)))
df.sum(axis=1)

<class 'pandas.core.series.Series'>

r1    2.521009
r0   -2.353862
r3   -3.170095
r2   -1.053577
dtype: float64