In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(4,5), 
                  columns=['c1', 'c4', 'c3', 'c2', 'c0'], 
                  index=['r1', 'r0', 'r3', 'r2'])
df

          c1        c4        c3        c2        c0
r1  0.463605 -0.151085  0.755762  1.087085 -0.514946
r0 -0.337921  0.394713  1.637535  1.275441  1.206788
r3 -0.463005  0.203610 -0.345498  1.137702  0.347104
r2 -0.808150  0.287215 -0.919630  0.026853 -0.185980

In [3]:
df_min = df.apply(func=lambda x: x.min(), axis=0)
df_min

c1   -0.808150
c4   -0.151085
c3   -0.919630
c2    0.026853
c0   -0.514946
dtype: float64

In [4]:
df.min(axis=0)

c1   -0.808150
c4   -0.151085
c3   -0.919630
c2    0.026853
c0   -0.514946
dtype: float64

In [5]:
df.apply(func=lambda x: pd.Series(index=['idxmin', 'min'], data=[x.idxmin(), x.min()]), axis=0).T

   idxmin        min
c1     r2   -0.80815
c4     r1  -0.151085
c3     r2   -0.91963
c2     r2  0.0268527
c0     r1  -0.514946

In [6]:
df_idxmin = df.idxmin(axis=0).to_frame()
df_min = df.min(axis=0).to_frame()
df_idxmin_min = df_idxmin.merge(right=df_min, how='inner', left_index=True, right_index=True)
df_idxmin_min.columns = ['idxmin', 'min']
df_idxmin_min

   idxmin       min
c1     r2 -0.808150
c4     r1 -0.151085
c3     r2 -0.919630
c2     r2  0.026853
c0     r1 -0.514946

In [7]:
pd.DataFrame(data={'idxmin': df.idxmin(axis=0), 'min': df.min(axis=0)})

   idxmin       min
c1     r2 -0.808150
c4     r1 -0.151085
c3     r2 -0.919630
c2     r2  0.026853
c0     r1 -0.514946