In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("example.csv", index_col=["ID"])
df

              TimeStamp  Value
ID
1   2020-01-01 01:00:00     10
1   2020-01-01 01:01:00     11
1   2020-01-01 01:02:00     12
2   2020-01-01 01:00:00     20
2   2020-01-01 01:01:00     21
2   2020-01-01 01:02:00     22

In [3]:
df.to_pickle("example.pkl")

In [4]:
!ls -als example.*

4 -rw-rw-r-- 1 woo woo 169  7월 24 08:47 example.csv
4 -rw-rw-r-- 1 woo woo 993 12월 10 01:14 example.pkl

In [5]:
df = pd.read_pickle("example.pkl")
df

              TimeStamp  Value
ID
1   2020-01-01 01:00:00     10
1   2020-01-01 01:01:00     11
1   2020-01-01 01:02:00     12
2   2020-01-01 01:00:00     20
2   2020-01-01 01:01:00     21
2   2020-01-01 01:02:00     22