In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.array([1000,800,150,15,120,100,700,85]).reshape(4,2),
                 index = [["m","m","w","w"],["Eng","Lit","Eng","Lit"]],
                 columns=["v", "p"])
df

          v    p
m Eng  1000  800
  Lit   150   15
w Eng   120  100
  Lit   700   85

# 1st Engineering : man < woman

In [3]:
m_Eng_rate = df.loc[("m","Eng")]["p"] / df.loc[("m","Eng")]["v"]
m_Eng_rate

0.8

In [4]:
w_Eng_rate = df.loc[("w","Eng")]["p"] / df.loc[("w","Eng")]["v"]
w_Eng_rate

0.8333333333333334

# 2nd Literature : man < woman

In [5]:
m_Lit_rate = df.loc[("m","Lit")]["p"] / df.loc[("m","Lit")]["v"]
m_Lit_rate

0.1

In [6]:
w_Lit_rate = df.loc[("w","Lit")]["p"] / df.loc[("w","Lit")]["v"]
w_Lit_rate

0.12142857142857143

# 3rd Total : man > woman

In [8]:
m_rate = sum(df.loc["m"]["p"]) / sum(df.loc["m"]["v"])
m_rate

0.7086956521739131

In [9]:
w_rate = sum(df.loc["w"]["p"]) / sum(df.loc["w"]["v"])
w_rate

0.22560975609756098

All factors affecting the last result [3rd Total : man > woman] should be noted.  
Not only middle statistic result [1st Engineering : man < woman] and [2nd Literature : man < woman],  
but also the raw data [numbers of Passer and Volunteer]