In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(4,5), 
                  columns=['c1', 'c4', 'c3', 'c2', 'c0'], 
                  index=['r1', 'r0', 'r3', 'r2'])
df

          c1        c4        c3        c2        c0
r1  0.557470  0.566617  0.750276  0.480645  0.804018
r0 -1.588610 -0.516215  0.042958  1.109585  0.970558
r3  1.131966 -0.789428  0.559944 -0.289347  0.991766
r2  1.036918 -1.484970  1.205965 -0.226009 -0.061723

In [3]:
df.min(axis=0)

c1   -1.588610
c4   -1.484970
c3    0.042958
c2   -0.289347
c0   -0.061723
dtype: float64

In [4]:
df.min(axis=1)

r1    0.480645
r0   -1.588610
r3   -0.789428
r2   -1.484970
dtype: float64

In [5]:
df_idxmin = df.idxmin(axis=0).to_frame()
df_idxmin

     0
c1  r0
c4  r2
c3  r0
c2  r3
c0  r2

In [6]:
df_min = df.min(axis=0).to_frame()
df_min

           0
c1 -1.588610
c4 -1.484970
c3  0.042958
c2 -0.289347
c0 -0.061723

In [7]:
df_idxmin_min = pd.merge(df_idxmin, df_min, left_index=True, right_index=True)
df_idxmin_min.columns = ['idxmin', 'min']
df_idxmin_min

   idxmin       min
c1     r0 -1.588610
c4     r2 -1.484970
c3     r0  0.042958
c2     r3 -0.289347
c0     r2 -0.061723