In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"name": ["ab", "bc", "cd"], "number": [4, 2, 3], "sales": [3, 5, 0]})
df

  name  number  sales
0   ab       4      3
1   bc       2      5
2   cd       3      0

In [3]:
for my_tuple in df.itertuples():
    print(type(my_tuple))
    print(my_tuple)
    print()

<class 'pandas.core.frame.Pandas'>
Pandas(Index=0, name='ab', number=4, sales=3)

<class 'pandas.core.frame.Pandas'>
Pandas(Index=1, name='bc', number=2, sales=5)

<class 'pandas.core.frame.Pandas'>
Pandas(Index=2, name='cd', number=3, sales=0)

In [4]:
df = pd.DataFrame(data=[[1,2,3], [4,5,6]])
df

   0  1  2
0  1  2  3
1  4  5  6

In [5]:
for my_tuple in df.itertuples():
    print(type(my_tuple))
    print(my_tuple)
    print()

<class 'pandas.core.frame.Pandas'>
Pandas(Index=0, _1=1, _2=2, _3=3)

<class 'pandas.core.frame.Pandas'>
Pandas(Index=1, _1=4, _2=5, _3=6)