In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(4,5), 
                  columns=['c1', 'c4', 'c3', 'c2', 'c0'], 
                  index=['r1', 'r0', 'r3', 'r2'])
df

          c1        c4        c3        c2        c0
r1 -1.602864  0.839168  0.416157  0.518236 -0.300463
r0 -0.534766  1.605356 -1.645582 -1.154875 -1.048135
r3  1.043587  0.167669 -0.564112  1.111318 -1.805608
r2 -0.250419  0.871630  0.462460 -0.375657 -1.275075

In [3]:
# Make a copy of this objectâ€™s indices and data.
# When deep=True (default), a new object will be created with copy.
# When deep=False, a new object will be created with reference.
df1 = df.copy()
print(type(df1))
df1

<class 'pandas.core.frame.DataFrame'>

          c1        c4        c3        c2        c0
r1 -1.602864  0.839168  0.416157  0.518236 -0.300463
r0 -0.534766  1.605356 -1.645582 -1.154875 -1.048135
r3  1.043587  0.167669 -0.564112  1.111318 -1.805608
r2 -0.250419  0.871630  0.462460 -0.375657 -1.275075