In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"name": ["ab", "bc", "cd", "de"], "number": [4, 2, 3, 1], "sales": [3, 5, 0, 1]})
df

  name  number  sales
0   ab       4      3
1   bc       2      5
2   cd       3      0
3   de       1      1

In [3]:
with pd.option_context('display.max_colwidth', 150, 'display.width', 400):
    print(df)

  name  number  sales
0   ab       4      3
1   bc       2      5
2   cd       3      0
3   de       1      1