In [1]:
import numpy as np
import pandas as pd
from io import StringIO

In [2]:
# dict to df
pd.DataFrame({"name": ["ab", "bc", "cd", "de"], "number": [4, 2, 3, 1], "sales": [3, 5, 0, 1]})

  name  number  sales
0   ab       4      3
1   bc       2      5
2   cd       3      0
3   de       1      1

In [3]:
# numpy ndarray to df
pd.DataFrame(np.array([[1,2,3], [4,5,6]], np.int32))

   0  1  2
0  1  2  3
1  4  5  6

In [4]:
# string to df
pd.read_csv(StringIO("name,number,sales\nab,4,3\nbc,2,5"), sep=",")

  name  number  sales
0   ab       4      3
1   bc       2      5