In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(4,5), 
                  columns=['c1', 'c4', 'c3', 'c2', 'c0'], 
                  index=['r1', 'r0', 'r3', 'r2'])
df

          c1        c4        c3        c2        c0
r1  2.010845  0.383450 -0.683148  0.232242  0.763284
r0 -0.139765  0.058501  0.065022  0.841223  0.951445
r3  0.420901 -0.387696  0.059487 -1.874850  0.684678
r2  0.006969  1.664486 -0.781563  0.673086  0.410524

In [3]:
df_idxmin = df.idxmin(axis=0).to_frame()
df_min = df.min(axis=0).to_frame()
df_idxmin_min = df_idxmin.merge(right=df_min, how='inner', left_index=True, right_index=True)
df_idxmin_min.columns = ['idxmin', 'min']
df_idxmin_min

   idxmin       min
c1     r0 -0.139765
c4     r3 -0.387696
c3     r2 -0.781563
c2     r3 -1.874850
c0     r2  0.410524

In [4]:
df.apply(func=lambda x: pd.Series(index=['idxmin', 'min'], data=[x.idxmin(), x.min()]), axis=0).T

   idxmin       min
c1     r0 -0.139765
c4     r3 -0.387696
c3     r2 -0.781563
c2     r3  -1.87485
c0     r2  0.410524

In [5]:
pd.DataFrame(data={'idxmin': df.idxmin(axis=0), 'min': df.min(axis=0)})

   idxmin       min
c1     r0 -0.139765
c4     r3 -0.387696
c3     r2 -0.781563
c2     r3 -1.874850
c0     r2  0.410524