In [1]:
import numpy as np
import pandas as pd

In [2]:
array_2d = np.array([[1,2,'A'], [3,4,'B'], [5,6,'C'], [7,8,'B']])
array_2d

array([['1', '2', 'A'],
       ['3', '4', 'B'],
       ['5', '6', 'C'],
       ['7', '8', 'B']], dtype='<U21')

In [3]:
df = pd.DataFrame(array_2d)
df

   0  1  2
0  1  2  A
1  3  4  B
2  5  6  C
3  7  8  B

In [4]:
df[2].unique()

array(['A', 'B', 'C'], dtype=object)

In [5]:
df[2].value_counts()

B    2
C    1
A    1
Name: 2, dtype: int64