In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(4,5), 
                  columns=['c1', 'c4', 'c3', 'c2', 'c0'], 
                  index=['r1', 'r0', 'r3', 'r2'])
df

          c1        c4        c3        c2        c0
r1  2.678739 -0.759479  0.491985 -1.788689 -0.008294
r0  2.225053  0.187420 -0.522516  0.005175 -0.568639
r3 -0.370336 -0.007501  0.416104  0.396802  0.431955
r2 -1.226886  0.065325 -0.416306 -0.319652  0.329429

In [4]:
df.sort_values(by=['c1'])

          c1        c4        c3        c2        c0
r2 -1.226886  0.065325 -0.416306 -0.319652  0.329429
r3 -0.370336 -0.007501  0.416104  0.396802  0.431955
r0  2.225053  0.187420 -0.522516  0.005175 -0.568639
r1  2.678739 -0.759479  0.491985 -1.788689 -0.008294

In [5]:
df.sort_values(by=['c1'], ascending=False)

          c1        c4        c3        c2        c0
r1  2.678739 -0.759479  0.491985 -1.788689 -0.008294
r0  2.225053  0.187420 -0.522516  0.005175 -0.568639
r3 -0.370336 -0.007501  0.416104  0.396802  0.431955
r2 -1.226886  0.065325 -0.416306 -0.319652  0.329429