In [1]:
import pandas as pd
print(pd.__version__)

0.23.4

In [2]:
data1 = {"name": ["ab", "bc", "cd", "de"], "number": [4, 2, 3, 1], "sales": [3, 5, 0, 1]}
data1

{'name': ['ab', 'bc', 'cd', 'de'],
 'number': [4, 2, 3, 1],
 'sales': [3, 5, 0, 1]}

In [3]:
# dict to df
df = pd.DataFrame(data1)
df

  name  number  sales
0   ab       4      3
1   bc       2      5
2   cd       3      0
3   de       1      1

In [4]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
df.columns

Index(['name', 'number', 'sales'], dtype='object')

In [6]:
df.values

array([['ab', 4, 3],
       ['bc', 2, 5],
       ['cd', 3, 0],
       ['de', 1, 1]], dtype=object)

In [7]:
df.shape

(4, 3)

In [8]:
df.describe()

         number     sales
count  4.000000  4.000000
mean   2.500000  2.250000
std    1.290994  2.217356
min    1.000000  0.000000
25%    1.750000  0.750000
50%    2.500000  2.000000
75%    3.250000  3.500000
max    4.000000  5.000000

In [9]:
import numpy as np
print(np.__version__)

1.15.4

In [10]:
data2 = np.array([[1,2,3], [4,5,6]], np.int32)
data2

array([[1, 2, 3],
       [4, 5, 6]], dtype=int32)

In [11]:
# numpy 2d array to df
df2 = pd.DataFrame(data2)
df2

   0  1  2
0  1  2  3
1  4  5  6