In [1]:
import pandas as pd
print(pd.__version__)

0.20.3

In [2]:
data1 = {"name": ["ab", "bc", "cd", "de"], "number": [4, 2, 3, 1], "sales": [3, 5, 0, 1]}
data1

{'name': ['ab', 'bc', 'cd', 'de'],
 'number': [4, 2, 3, 1],
 'sales': [3, 5, 0, 1]}

In [3]:
# dict to df
df = pd.DataFrame(data1)
df

  name  number  sales
0   ab       4      3
1   bc       2      5
2   cd       3      0
3   de       1      1

In [4]:
import numpy as np
print(np.__version__)

1.13.3

In [5]:
data2 = np.array([[1,2,3], [4,5,6]], np.int32)
data2

array([[1, 2, 3],
       [4, 5, 6]], dtype=int32)

In [6]:
# numpy 2d array to df
df2 = pd.DataFrame(data2)
df2

   0  1  2
0  1  2  3
1  4  5  6