In [1]:
import numpy as np
import pandas as pd

In [2]:
array_2d = np.array([[1,2,'A'], [3,4,'B'], [5,6,'C'], [7,8,'B']])
array_2d

array([['1', '2', 'A'],
       ['3', '4', 'B'],
       ['5', '6', 'C'],
       ['7', '8', 'B']], dtype='<U21')

In [3]:
df = pd.DataFrame(array_2d)
df

   0  1  2
0  1  2  A
1  3  4  B
2  5  6  C
3  7  8  B

In [4]:
df[2].isin(['B', 'C'])

0    False
1     True
2     True
3     True
Name: 2, dtype: bool

In [5]:
df.loc[df[2].isin(['B', 'C']), :]

   0  1  2
1  3  4  B
2  5  6  C
3  7  8  B