In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.arange(12).reshape((4,3)),
                  index=[["a","a","b","b"], [1,2,1,2]],
                  columns=[["A","A","B"], ["1st","2nd","1st"]])
df

      A       B
    1st 2nd 1st
a 1   0   1   2
  2   3   4   5
b 1   6   7   8
  2   9  10  11

In [3]:
df.index.names = ["key1","key2"]
df.columns.names = ["Class", "Number"]
df

Class       A       B
Number    1st 2nd 1st
key1 key2
a    1      0   1   2
     2      3   4   5
b    1      6   7   8
     2      9  10  11

In [4]:
df["A"]

Number     1st  2nd
key1 key2
a    1       0    1
     2       3    4
b    1       6    7
     2       9   10

In [5]:
df[("A", "2nd")]

key1  key2
a     1        1
      2        4
b     1        7
      2       10
Name: (A, 2nd), dtype: int64

In [6]:
df.loc["b"]

Class    A       B
Number 1st 2nd 1st
key2
1        6   7   8
2        9  10  11