In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.arange(6).reshape((2, 3)), 
                  index=['Seoul', 'Busan'],
                  columns=['one', 'two', 'three'])
df

       one  two  three
Seoul    0    1      2
Busan    3    4      5

In [3]:
df.stack()

Seoul  one      0
       two      1
       three    2
Busan  one      3
       two      4
       three    5
dtype: int64

In [4]:
df.stack().unstack()

       one  two  three
Seoul    0    1      2
Busan    3    4      5