In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(4,5), 
                  columns=['c1', 'c4', 'c3', 'c2', 'c0'], 
                  index=['r1', 'r0', 'r3', 'r2'])
df

          c1        c4        c3        c2        c0
r1 -0.189465  0.643291  0.757152  0.537708  0.531812
r0  1.105414  0.878094  0.864349 -1.334839 -1.090089
r3 -0.521217  1.532788  0.255413 -1.683150  1.532584
r2  1.233610 -0.940144  0.581459  1.404942  0.218217

In [3]:
df.to_csv("./test.tsv", sep="\t", header=True, index=False)
!cat ./test.tsv

c1	c4	c3	c2	c0
-0.18946541012289284	0.6432910010360918	0.7571518977280696	0.5377084686148111	0.5318121377109079
1.1054140483355464	0.8780942797526383	0.8643492933912464	-1.3348393008693282	-1.090089271786604
-0.5212171102356156	1.5327875226841527	0.25541267610116536	-1.6831498268852436	1.5325843015812026
1.233609975437193	-0.940143719861853	0.5814591369538956	1.4049423285313338	0.21821726960674814

In [4]:
df.to_csv("./test.tsv", sep="\t", header=True, index=True)
!cat ./test.tsv

	c1	c4	c3	c2	c0
r1	-0.18946541012289284	0.6432910010360918	0.7571518977280696	0.5377084686148111	0.5318121377109079
r0	1.1054140483355464	0.8780942797526383	0.8643492933912464	-1.3348393008693282	-1.090089271786604
r3	-0.5212171102356156	1.5327875226841527	0.25541267610116536	-1.6831498268852436	1.5325843015812026
r2	1.233609975437193	-0.940143719861853	0.5814591369538956	1.4049423285313338	0.21821726960674814

In [5]:
!rm ./test.tsv