In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(4,5), 
                  columns=['c1', 'c4', 'c3', 'c2', 'c0'], 
                  index=['r1', 'r0', 'r3', 'r2'])
df

          c1        c4        c3        c2        c0
r1  0.843079  0.923674  0.550168 -0.057655  0.357069
r0 -0.483565  0.790892 -0.770367  0.009543 -0.302089
r3  0.011076 -0.425920  2.345425  1.533223 -0.659541
r2  1.556874 -1.100077  0.554706 -0.126528  0.181166

In [3]:
df_sort_idx = df.sort_index()
df_sort_idx

          c1        c4        c3        c2        c0
r0 -0.483565  0.790892 -0.770367  0.009543 -0.302089
r1  0.843079  0.923674  0.550168 -0.057655  0.357069
r2  1.556874 -1.100077  0.554706 -0.126528  0.181166
r3  0.011076 -0.425920  2.345425  1.533223 -0.659541