In [1]:
import pandas as pd

# 1st pandas.read_csv

In [2]:
df = pd.read_csv("example.csv", index_col=["ID"])
df

              TimeStamp  Value
ID
1   2020-01-01 01:00:00     10
1   2020-01-01 01:01:00     11
1   2020-01-01 01:02:00     12
2   2020-01-01 01:00:00     20
2   2020-01-01 01:01:00     21
2   2020-01-01 01:02:00     22

In [3]:
df.index.astype

In [4]:
df.index.dtype

dtype('int64')