In [1]:
import pandas as pd
import numpy as np

In [2]:
# remove rows which has NaN value by datetime index <- Don't need to reversed index list 
df = pd.DataFrame(np.random.randn(7, 7))
df.columns = ["a", "b", "c", "d", "e", "f", "g"]
df.index = pd.date_range("20190111", periods=df.shape[1])
df

,a,b,c,d,e,f,g
2019-01-11,1.039833,-1.202150,-0.729961,0.507225,-1.211791,0.649087,1.456929
2019-01-12,-0.390152,2.368821,0.717707,-1.217970,1.393944,-0.364585,0.401237
2019-01-13,-0.371337,1.870977,-1.262025,0.243266,-1.893419,1.652450,0.598571
2019-01-14,1.259128,1.451679,0.564912,-1.630713,0.209232,1.512266,-0.612160
2019-01-15,-0.558611,-0.380853,0.771758,1.351003,-0.807388,-0.833029,1.074967
2019-01-16,-0.686545,0.050684,0.628144,1.402844,0.383397,0.735752,-0.370996
2019-01-17,0.931742,-0.171924,1.441487,-0.121431,-0.856081,0.565796,-0.119244

In [3]:
# replace NaN
df["c"] = [0, 0.827223, 1.249525, np.nan, 0.008320, np.nan, -0.828358]
df["d"] = [0, 0.827223, np.nan, 0.008320, np.nan, -0.828358, -0.494077]
df

,a,b,c,d,e,f,g
2019-01-11,1.039833,-1.202150,0.000000,0.000000,-1.211791,0.649087,1.456929
2019-01-12,-0.390152,2.368821,0.827223,0.827223,1.393944,-0.364585,0.401237
2019-01-13,-0.371337,1.870977,1.249525,NaN,-1.893419,1.652450,0.598571
2019-01-14,1.259128,1.451679,NaN,0.008320,0.209232,1.512266,-0.612160
2019-01-15,-0.558611,-0.380853,0.008320,NaN,-0.807388,-0.833029,1.074967
2019-01-16,-0.686545,0.050684,NaN,-0.828358,0.383397,0.735752,-0.370996
2019-01-17,0.931742,-0.171924,-0.828358,-0.494077,-0.856081,0.565796,-0.119244

In [4]:
# df count without NaN
df.count(axis=0)

a    7
b    7
c    5
d    5
e    7
f    7
g    7
dtype: int64

In [5]:
df.count(axis=1)

2019-01-11    7
2019-01-12    7
2019-01-13    6
2019-01-14    6
2019-01-15    6
2019-01-16    6
2019-01-17    7
Freq: D, dtype: int64

In [6]:
# df min
df.min(axis=0)

a   -0.686545
b   -1.202150
c   -0.828358
d   -0.828358
e   -1.893419
f   -0.833029
g   -0.612160
dtype: float64

In [7]:
df.min(axis=1)

2019-01-11   -1.211791
2019-01-12   -0.390152
2019-01-13   -1.893419
2019-01-14   -0.612160
2019-01-15   -0.833029
2019-01-16   -0.828358
2019-01-17   -0.856081
Freq: D, dtype: float64

In [8]:
# df max
df.max(axis=0)

a    1.259128
b    2.368821
c    1.249525
d    0.827223
e    1.393944
f    1.652450
g    1.456929
dtype: float64

In [9]:
df.max(axis=1)

2019-01-11    1.456929
2019-01-12    2.368821
2019-01-13    1.870977
2019-01-14    1.512266
2019-01-15    1.074967
2019-01-16    0.735752
2019-01-17    0.931742
Freq: D, dtype: float64

In [10]:
# df index which has min value
# 0 or ‘index’ for row-wise like sql group by each column
df.idxmin(axis=0)

a   2019-01-16
b   2019-01-11
c   2019-01-17
d   2019-01-16
e   2019-01-13
f   2019-01-15
g   2019-01-14
dtype: datetime64[ns]

In [11]:
# 1 or ‘columns’ for column-wise like sql group by each index
df.idxmin(axis=1)

2019-01-11    e
2019-01-12    a
2019-01-13    e
2019-01-14    g
2019-01-15    f
2019-01-16    d
2019-01-17    e
Freq: D, dtype: object

In [12]:
# df index which has max value
df.idxmax(axis=0)

a   2019-01-14
b   2019-01-12
c   2019-01-13
d   2019-01-12
e   2019-01-12
f   2019-01-13
g   2019-01-11
dtype: datetime64[ns]

In [13]:
df.idxmax(axis=1)

2019-01-11    g
2019-01-12    b
2019-01-13    b
2019-01-14    f
2019-01-15    g
2019-01-16    f
2019-01-17    a
Freq: D, dtype: object

In [14]:
# series index which has min value
df["a"].argmin()

/Users/rwoo/02_WorkSpace/29_Python_WorkSpace/Python-Study/99_Utility/venv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.

Timestamp('2019-01-16 00:00:00', freq='D')

In [15]:
df["a"].values.argmin()

5

In [16]:
# series index which has max value
df["a"].argmax()

/Users/rwoo/02_WorkSpace/29_Python_WorkSpace/Python-Study/99_Utility/venv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.

Timestamp('2019-01-14 00:00:00', freq='D')

In [17]:
df["a"].values.argmax()

3

In [18]:
# df quantile
df.quantile(axis=0)

a   -0.371337
b    0.050684
c    0.008320
d    0.000000
e   -0.807388
f    0.649087
g    0.401237
Name: 0.5, dtype: float64

In [19]:
df.quantile(axis=1)

2019-01-11    0.000000
2019-01-12    0.827223
2019-01-13    0.924048
2019-01-14    0.734180
2019-01-15   -0.469732
2019-01-16   -0.160156
2019-01-17   -0.171924
Freq: D, Name: 0.5, dtype: float64

In [20]:
# df sum
df.sum(axis=0)

a    1.224059
b    3.987233
c    1.256710
d   -0.486892
e   -2.782106
f    3.917736
g    2.429304
dtype: float64

In [21]:
df.sum(axis=1)

2019-01-11    0.731908
2019-01-12    5.063711
2019-01-13    3.106768
2019-01-14    3.828465
2019-01-15   -1.496593
2019-01-16   -0.716067
2019-01-17   -0.972147
Freq: D, dtype: float64

In [22]:
# sum of a column
df["a"].sum()

1.2240586184951474

In [23]:
# sum of a row
df.loc["2019-01-11"].sum()

0.731908206003568

In [24]:
# df fill NaN as mean
df[["c", "d"]]

                   c         d
2019-01-11  0.000000  0.000000
2019-01-12  0.827223  0.827223
2019-01-13  1.249525       NaN
2019-01-14       NaN  0.008320
2019-01-15  0.008320       NaN
2019-01-16       NaN -0.828358
2019-01-17 -0.828358 -0.494077

In [25]:
column_c_mean = df["c"].mean()
column_c_mean

0.251342

In [26]:
df["c"] = df["c"].fillna(value=column_c_mean)
df[["c", "d"]]

                   c         d
2019-01-11  0.000000  0.000000
2019-01-12  0.827223  0.827223
2019-01-13  1.249525       NaN
2019-01-14  0.251342  0.008320
2019-01-15  0.008320       NaN
2019-01-16  0.251342 -0.828358
2019-01-17 -0.828358 -0.494077

In [27]:
# df fill NaN as min
column_d_min = df["d"].min()
column_d_min

-0.828358

In [28]:
df["d"] = df["d"].fillna(value=column_d_min)
df[["c", "d"]]

                   c         d
2019-01-11  0.000000  0.000000
2019-01-12  0.827223  0.827223
2019-01-13  1.249525 -0.828358
2019-01-14  0.251342  0.008320
2019-01-15  0.008320 -0.828358
2019-01-16  0.251342 -0.828358
2019-01-17 -0.828358 -0.494077

In [29]:
# df median
df.median()

a   -0.371337
b    0.050684
c    0.251342
d   -0.494077
e   -0.807388
f    0.649087
g    0.401237
dtype: float64

In [30]:
# df absolute deviation's mean
df.mad()

a    0.773173
b    1.137903
c    0.449733
d    0.501209
e    0.908258
f    0.661991
g    0.612437
dtype: float64

In [31]:
# df standard deviation
df.std()

a    0.855789
b    1.327305
c    0.660302
d    0.623241
e    1.115522
f    0.906872
g    0.761687
dtype: float64

In [32]:
# df variance
df.var()

a    0.732375
b    1.761738
c    0.435999
d    0.388429
e    1.244390
f    0.822417
g    0.580166
dtype: float64

In [33]:
# df cumulative sum start with 0
df

,a,b,c,d,e,f,g
2019-01-11,1.039833,-1.202150,0.000000,0.000000,-1.211791,0.649087,1.456929
2019-01-12,-0.390152,2.368821,0.827223,0.827223,1.393944,-0.364585,0.401237
2019-01-13,-0.371337,1.870977,1.249525,-0.828358,-1.893419,1.652450,0.598571
2019-01-14,1.259128,1.451679,0.251342,0.008320,0.209232,1.512266,-0.612160
2019-01-15,-0.558611,-0.380853,0.008320,-0.828358,-0.807388,-0.833029,1.074967
2019-01-16,-0.686545,0.050684,0.251342,-0.828358,0.383397,0.735752,-0.370996
2019-01-17,0.931742,-0.171924,-0.828358,-0.494077,-0.856081,0.565796,-0.119244

In [34]:
df.cumsum()

,a,b,c,d,e,f,g
2019-01-11,1.039833,-1.202150,0.000000,0.000000,-1.211791,0.649087,1.456929
2019-01-12,0.649681,1.166671,0.827223,0.827223,0.182153,0.284502,1.858167
2019-01-13,0.278345,3.037648,2.076748,-0.001135,-1.711266,1.936952,2.456737
2019-01-14,1.537473,4.489326,2.328090,0.007185,-1.502034,3.449218,1.844578
2019-01-15,0.978862,4.108473,2.336410,-0.821173,-2.309422,2.616189,2.919545
2019-01-16,0.292317,4.159157,2.587752,-1.649531,-1.926025,3.351941,2.548548
2019-01-17,1.224059,3.987233,1.759394,-2.143608,-2.782106,3.917736,2.429304

In [35]:
# df cumulative product start with 1
df

,a,b,c,d,e,f,g
2019-01-11,1.039833,-1.202150,0.000000,0.000000,-1.211791,0.649087,1.456929
2019-01-12,-0.390152,2.368821,0.827223,0.827223,1.393944,-0.364585,0.401237
2019-01-13,-0.371337,1.870977,1.249525,-0.828358,-1.893419,1.652450,0.598571
2019-01-14,1.259128,1.451679,0.251342,0.008320,0.209232,1.512266,-0.612160
2019-01-15,-0.558611,-0.380853,0.008320,-0.828358,-0.807388,-0.833029,1.074967
2019-01-16,-0.686545,0.050684,0.251342,-0.828358,0.383397,0.735752,-0.370996
2019-01-17,0.931742,-0.171924,-0.828358,-0.494077,-0.856081,0.565796,-0.119244

In [36]:
df.cumprod()

                   a         b    c    d         e         f         g
2019-01-11  1.039833 -1.202150  0.0  0.0 -1.211791  0.649087  1.456929
2019-01-12 -0.405692 -2.847678  0.0  0.0 -1.689169 -0.236648  0.584574
2019-01-13  0.150648 -5.327939  0.0 -0.0  3.198304 -0.391049  0.349909
2019-01-14  0.189686 -7.734456  0.0 -0.0  0.669187 -0.591369 -0.214200
2019-01-15 -0.105960  2.945692  0.0  0.0 -0.540293  0.492628 -0.230258
2019-01-16  0.072747  0.149300  0.0 -0.0 -0.207147  0.362452  0.085425
2019-01-17  0.067781 -0.025668 -0.0  0.0  0.177334  0.205074 -0.010186

In [37]:
# df Covariance
df["a"].cov(df["b"])

-0.2867688684717926

In [38]:
# df Correlation Coefficient
df["a"].corr(df["b"])

-0.252461104793516