In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([0, 1], index=["a", "b"])
s1

a    0
b    1
dtype: int64

In [3]:
s2 = pd.Series([2, 3, 4], index=["c", "d", "e"])
s2

c    2
d    3
e    4
dtype: int64

In [4]:
s3 = pd.Series([5, 6], index=["f", "g"])
s3

f    5
g    6
dtype: int64

In [5]:
s4 = pd.concat([s1,s2,s3])
s4

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [6]:
df1 = pd.concat([s1,s2,s3], axis=1)
df1

/Users/rwoo/02_WorkSpace/29_Python_WorkSpace/Python-Study/99_Utility/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [7]:
df2 = pd.concat([s1,s2,s3], axis=1, keys=["one", "two", "three"])
df2

/Users/rwoo/02_WorkSpace/29_Python_WorkSpace/Python-Study/99_Utility/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

   one  two  three
a  0.0  NaN    NaN
b  1.0  NaN    NaN
c  NaN  2.0    NaN
d  NaN  3.0    NaN
e  NaN  4.0    NaN
f  NaN  NaN    5.0
g  NaN  NaN    6.0