In [1]:
import pandas as pd

# 1st pandas.read_csv

In [2]:
df = pd.read_csv("example.csv")
df

   ID            TimeStamp  Value
0   1  2020-01-01 01:00:00     10
1   1  2020-01-01 01:01:00     11
2   1  2020-01-01 01:02:00     12
3   2  2020-01-01 01:00:00     20
4   2  2020-01-01 01:01:00     21
5   2  2020-01-01 01:02:00     22

In [3]:
# 2nd pandas.read_csv with index_col

In [4]:
df = pd.read_csv("example.csv", index_col=["ID"])
df

              TimeStamp  Value
ID
1   2020-01-01 01:00:00     10
1   2020-01-01 01:01:00     11
1   2020-01-01 01:02:00     12
2   2020-01-01 01:00:00     20
2   2020-01-01 01:01:00     21
2   2020-01-01 01:02:00     22

In [5]:
df.dtypes

TimeStamp    object
Value         int64
dtype: object

# 3rd pandas.read_csv with parse_dates, date_parser

In [6]:
df = pd.read_csv("example.csv", index_col=["ID"], parse_dates=["TimeStamp"], date_parser=lambda t: pd.to_datetime(t, format="%Y-%m-%d %H:%M:%S"))
df

             TimeStamp  Value
ID
1  2020-01-01 01:00:00     10
1  2020-01-01 01:01:00     11
1  2020-01-01 01:02:00     12
2  2020-01-01 01:00:00     20
2  2020-01-01 01:01:00     21
2  2020-01-01 01:02:00     22

In [7]:
df.dtypes

TimeStamp    datetime64[ns]
Value                 int64
dtype: object

In [8]:
df[df["TimeStamp"] > pd.Timestamp("2020-01-01 01:01:10")]

             TimeStamp  Value
ID
1  2020-01-01 01:02:00     12
2  2020-01-01 01:02:00     22