In [1]:
import pandas as pd

# 1st pandas.read_csv

In [2]:
df = pd.read_csv("example.csv")
df

   ID            TimeStamp  Value
0   1  2020-01-01 01:00:00     10
1   1  2020-01-01 01:01:00     11
2   1  2020-01-01 01:02:00     12
3   2  2020-01-01 01:00:00     20
4   2  2020-01-01 01:01:00     21
5   2  2020-01-01 01:02:00     22

In [3]:
df.dtypes

ID            int64
TimeStamp    object
Value         int64
dtype: object

# 2nd pandas.read_csv : dtype=str

In [4]:
df = pd.read_csv("example.csv", dtype=str)
df

  ID            TimeStamp Value
0  1  2020-01-01 01:00:00    10
1  1  2020-01-01 01:01:00    11
2  1  2020-01-01 01:02:00    12
3  2  2020-01-01 01:00:00    20
4  2  2020-01-01 01:01:00    21
5  2  2020-01-01 01:02:00    22

In [5]:
df.dtypes

ID           object
TimeStamp    object
Value        object
dtype: object